@import "../../styles/variables";



.card {
    background-color: $dark-blue;
    border-radius: 20px;
    height: 280px;
    width: 283px;
    margin-right: 1rem;
    margin-bottom: 1.35rem;
    box-sizing: border-box;
    cursor: pointer;



    &__image {
        height: 75%;
        width: 285px;
    }

    &__description {
        margin: 0;
        padding: 0 16px;
        font-size: 1.25rem;
        color: $text-color;
        font-family: $font-bold;
    }

    &__credits {
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding: 0 1rem;
        box-sizing: border-box;
        width: 100%;
    }

    p {
        margin: 0;
        margin-top: 0.5rem;
        color: $text-color;
    }

    span {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    
}

